.container  {
    display: flex;
    margin: auto;
    width: 60%;
    padding-top: 20px;
}

table {
    font-family: 'Edu SA Beginner', cursive;
}

th{
    color: darkgreen;
    font-size: 1.2rem;
}

tr{
    font-size: 1.1rem;
}