<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <title>Recipe Share</title>
</head>

<body>
    <div class="nav d-flex justify-content-between align-items-center m-2">
        <h2>Welcome {{session["first_name"]}}</h2>
        <p><a href="/recipes" class="mx-4">back to recipes</a> <a href="/logout">logout</a></p>

    </div>
    <div class="nav d-flex justify-content-between align-items-center mx-5">
        <h2 class="mx-5">{{one_recipe.name}}</h2>
        <p class="mx-5">Posted by: {{one_recipe.first_name}}</a></p>

    </div>
    <div class="container p-2 d-flex">
        <div class="d-flex flex-column col-6 mx-5">



            <div class="d-flex justify-content-between">
                <span>Description:</span> <span>{{one_recipe.description}}</span>
            </div>


            <div class="d-flex justify-content-between">
                <span>Under 30 minutes?</span> <span>{{one_recipe.under}}</span>
            </div>


            <div class="d-flex justify-content-between">
                <span>Instructions:</span> <span>{{one_recipe.instructions}}</span>
            </div>


            <div class="d-flex justify-content-between">
                <span>Date Made:</span> <span>{{one_recipe.cooked.strftime("%B %d, %Y")}}</span>
            </div>

        </div>

    </div>




    </div>
</body>

</html>