<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Number Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">


    <h2 class="text-center">Welcome to the Great Number Game</h2>
    <h3 class="text-center">You got it right with {{ session['count'] }} guesses left</h3>

        <div class="winner">
            <p>{{ session['number'] }} was the number!</p>
                        <form action="/play_again" method="post">
                            <button type="submit" name="reset" value="0" class="btn btn-light">Play Again</button>
                        </form>
        </div>

    



</div>

</body>
</html>