.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my_table{
    width: 500px;
    align-self: center;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border: 2px solid;
}
img{
    width: 100px;
    height: 100px;
    margin: auto;
}
td{
    padding: 5px;
    font-weight: bolder;
}